.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DigiSearch {
  background: #F9FBFC;
  border-radius: 2px;
  border: 2px solid #0da1ff;
  margin: 0 30px;
  margin-bottom: 24px;
  height: 50px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #1E1E1F;
  box-shadow: 3px 0px 15px #0da1ff;
  border-radius: 10px 10px;
}

.DigiSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.DigiSearch:focus {
  outline-color: #61DAFA;
}

.DigiList {
  width: 40%;
  height: 800px;
  overflow:hidden;
  overflow-y:scroll;
}

.DigiImg {
  width: 60%;
  background-color: #FAFAFA;
  align-items: center;
  margin-left: 24px;
  box-shadow: 0px 5px 10px #0da1ff;
  border-radius: 10px 10px;
  height: 790px;
  padding: 0px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0 0 56px 0;
  list-style: none;
}

.DigiItem {
  background-color: #FAFAFA;
  align-items: center;
  margin-bottom: 24px;
  margin: 0px 20px 24px 20px;
  padding: 8px 0px;
  box-shadow: 0px 5px 10px #0da1ff;
  border-radius: 10px 10px;
}

.DigiItem-p {
  padding: 5px 0px;
  margin: 0px;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.DigiItem-p-img {
  width: 10%;
  padding: 25px 50px 0px 0px;
  margin: 0px;
}

.DigiItem:hover {
  box-shadow: 0px 5px 30px #0da1ff;
}

.DigiContainer{
  display: flex;
}

.DigiCount{
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .DigiContainer{
    display: block;
  }
  .DigiList {
    width: 100%;
    height: 800px;
    overflow:hidden;
    overflow-y:scroll;
  }
  .DigiImg {
    width: 90%;
    height: 500%;
  }
}
