body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #61dafb;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
